html{
	font-size: 62.5%; /* 10 ÷ 16 × 100% = 62.5% */
}
html, body{
    min-height: 600px !important;
    min-width: 1024px;
}
@font-face {
	font-family: "myfont";/*定义字体名称*/
	src:url('../font/MekarScript.ttf');
	src:url('../font/MekarScript.eot');
	src:url('../font/MekarScript.otf');
	src:url('../font/MekarScript.woff');
}
/*spin*/
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
/*self*/
.TextAlignC{
	text-align: center;
}
.TextAlignR{
	text-align: right;
}
.ColorRed{
	color: #f16643 !important;
}
.ColorGray{
	color: #ccc;
}
.ColorLightBlack{
	color: #515a6e !important;
}
.ColorWhite{
	color: white !important;
}
.colorPrimary{
	color: #2d8cf0;
}
.smallSize{
	font-size: 12px !important;
}
.Bold{
	font-weight: bold;
}
.hoverColor:hover{
  color:  #2d8cf0;
  font-weight:bold
}
.CursorPointer{
	cursor: pointer;
}
.MarginT_10{
	margin-top: 10px !important;
}
.MarginT_20{
	margin-top: 20px !important;
}
.MarginB_10{
	margin-bottom: 10px !important;
}
.MarginL_10{
	margin-left: 10px !important;
}
.MarginB_20{
	margin-bottom: 20px !important;
}
.MarginT_30{
	margin-top: 30px !important;
}
.MarginT_40{
	margin-top: 40px !important;
}
.MarginR_10{
	margin-right: 10px !important;
}
.Margin_20{
	margin: 20px !important;
}
.BorderT_gray{
	border-top: 1px solid #dcdee2;
}
.PaddingT_16{
	padding-top: 16px !important;
}
.Padding_16{
	padding: 16px !important;
}
.PaddingTB_10{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.PaddingL_16{
	padding-left: 16px !important;
}
.PaddingR_16{
	padding-right: 16px !important;
}
.PaddingR_34{
	padding-right: 34px;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu){
	background: #2b85e4 !important;
	color: #fff !important;
}
.ivu-menu-light{
	background: transparent !important;
}
.ivu-menu{
	color: #fff !important;
}
.ivu-layout-sider{
	/*width: 20% !important;
	max-width: 20% !important;
	min-width: 20% !important;*/
	background: #2d8cf0 !important;
}
.ivu-menu-vertical.ivu-menu-light:after{
	background: transparent !important
}
.ivu-layout{
	width: 100% !important;
	height: 100vh !important;
  background: transparent !important;
	/*background: #2d8cf0 !important;*/
}
/*card*/
/*.houseCard .ivu-card-head{
  background: cadetblue !important;
}*/
/*radio*/
.ivu-radio-group-button.ivu-radio-group-large .ivu-radio-wrapper{
  margin: 5px 5px 5px 0;
}
.ivu-breadcrumb a{
  color: #fff !important;
}
.ivu-breadcrumb>span:last-child{
  color: #fff !important;
}
.ivu-radio-large .ivu-radio-wrapper, .ivu-radio-large.ivu-radio-wrapper{
	font-size: 14px !important;
}
/*spin*/
.ivu-spin-fix{
	background: transparent!important;
	position: relative;
	z-index: 99999;
}
.ivu-spin-fix .ivu-spin-main{
	font-size: 20px !important;
	/*color: #000 !important;*/
}
.ivu-spin-fix .ivu-spin-main i{
	font-size: 20px !important;
}
/*modal*/
.ivu-modal-body{
	padding: 16px 30px !important;
}
.ivu-modal-header p{
	font-size: 18px !important;
}
.ivu-form .ivu-form-item-label{
	font-weight: bold !important;
}
/*smallSwitch*/
/*.ivu-switch-small .ivu-switch-inner{
  font-size: 12px !important;
  left: 15px !important;
}
.ivu-switch-checked .ivu-switch-inner{
  font-size: 12px !important;
  left: 4px !important;
}*/
.contentBox img{
  width: 100%;
}